.title{
    margin-top: 44px;
    font-size: 6.5vw;
    font-family: 'Sofia', cursive;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 35vh;
    width: 100%;
}

.below-text{
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 1.9vw;
    font-family: 'Sofia', cursive;
}