.title{
    font-size: 6.5vw;
    font-family: 'Sofia', cursive;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 35vh;
    width: 100%;
}